@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
.pst-container{
    display: flex;
    justify-content: center;
    margin-top: 3%;
    overflow: hidden;
    flex-direction: column;
}
.pst-container h1{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-bottom: 5%;
    font-size: 2.5rem;
    font-weight: 800;
    color: rgb(93, 10, 170);
}
.pst-container h3{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 3%;
    font-weight: 600;
    color: rgb(0, 0, 0);
}
.img-container img{
    width: 20%;
}
.img-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
}
.img-container::after{
    content:'';
    width: 20%;
    height: 70%;
    margin-left: 5%;
    border: 1px solid rgb(180, 175, 175);
    position: absolute;
    margin-top: 2.5%;
    
}
.pst-container::before{
    content: '';
    width: 30px;
    height: 30px;
    border: 1px solid gray;
    position: absolute;
    right: 4.95%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    top:5%;
    transform: rotate(60deg);
}
.pst-container h1::after{
    content: '  ';
    width: 30px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    height: 30px;
    border: 1px solid gray;
    position: absolute;
    right: 3%;
    top:6%;
    z-index: 3;
    background-color: white;
    transform: rotate(60deg);
}