.App{
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
}
.data-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-between;
    align-items: center;
    margin-bottom: 10%;
    margin-top: 5%;
}
.div-button-sendemail{
    display: flex;
    width: 200px;
    justify-content: space-around;
    align-self: flex-end;
    align-items: center;
    color:rgb(192, 101, 101);
    font-weight: 600;
}
.button-sendemail{
    color: white;
    padding: 10px;
    border-radius: 99px;
    background-color: rgb(80, 29, 128);
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 250ms ease-in-out;
}
.button-sendemail:hover{
    background-color: white;
    border: 1px solid rgb(80, 29, 128);
    color:rgb(80, 29, 128);
}
.active{
    color:rgb(139, 224, 139)
}
.div-button-changeKey{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 250px;
    justify-content: space-around;
    align-items: center;
    color:cadetblue;
    font-weight: 600;
}

.button-changerKey{
    border-radius: 99px;
    padding: 10px;
    background-color: cadetblue;
    color:white;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 250ms ease-in-out;
}
.button-changerKey:hover{
    color: cadetblue;  
    background-color: white; 
    border:1px solid cadetblue;
}

.gabriel{
    color:blueviolet
}