@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

.graph-container h2{
    margin-top: 12%;
    text-align: center;
    color:rgb(93, 10, 170);
    font-weight: 300;
    font-size: 1.3rem;
    font-family: 'Staatliches', cursive;
    text-transform: uppercase;
}
.graph-container{
    position: relative;
    display: flex;
    width: 45%;
    height: 500px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    border-radius: 25px;
}
.graph-container::before{
    position: absolute;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.35);
    width: 90%;
    height: 75%;
    top:22%;
    margin-left: 7%;
    content: '';
    background-color: white;
    z-index: -9;
}
.graph-container::after{
    content:'';
    width: 80%;
    height: 80%;
    margin-left: 0%;
    border: 1px solid rgb(180, 175, 175);
    position: absolute;
    top: 9%;
    margin-right: 20%;
    z-index: -10;
    
}

.graph-line{
    margin-top: 10%;
    display: flex;
    margin-left: 5%;
    width: 85%;
}
